* {
	border: 1px solid transparent;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/esBackground.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    webkit-transition: background-image 1.5s;
    transition: background-image 1.5s;
}


.boxes{
    width: 40vw;
    height: 90vh;
    margin: auto;
    text-align: center;
    z-index: 2;
}

.foreign {
	float: right;
	margin-right: 5%;
}

.english {
	float: left;
	margin-left: 5%;
}

.langButtons {
	display: block;
	margin: 0;
	z-index: 1;
	float: left;
	width: 7vw;
	height: 40vh;
	margin-top: 10vh;
}

button {
	width: 100%;
	height: 20%;
	margin-top: 2em;
}

button:active {
	background-color: lightblue;
}

button:focus {
	outline: none;
}

.currentLanguage {
	background-color: blue;
	color: white;
}

input, .language {
	display: block;
	margin: 0 auto;
	margin-top: 15vh;
	width: 60%;
	height: 10%;
	font-size: 2em;
	background-color: lightblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #eee;
    box-sizing: border-box;
    padding-left: 1vw;
}
input{
    autocomplete: search;
}

input:focus {
	outline: none;
}

.language {
	font-family: sans-serif;
	color: #A9A9A9;
	padding-top: 1.5vh;
}

ul {
	list-style-type: none;
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align: left;
	padding: 0;
	left: 30%;
	font-size: 1.5em;
}

.focus {
    background-color:lightblue;
}
.definition {
    /*opacity: 0;*/
    height: 51vh;
    width: 25vw;
    margin-left: 12.5%;
    margin-top: 13.3%;
	font-size: 1.5em;
	font-size: 1.5em;
    background-color: transparent;
}
.definition p{
    position: absolute;
    width: 25vw;
}
.visible {
    background-color: white;
    opacity: 0.7;
    webkit-transition: 1.5s linear;
    transition: 1.5s linear;
}
li {
    background-color: gray;
    height: 5vh;
    width: 24vw;
    padding-left: 6%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    overflow: hidden;
}
li:hover {
    background-color:lightblue;
    cursor: pointer;
}
