* {
	border: 1px solid red;
}

.boxes{
    width: 40vw;
    height: 90vh;
    margin: auto;
    text-align: center;
}

.foreign {
	float: right;
	margin-right: 5%;
}

.english {
	float: left;
	margin-left: 5%;
}

input, .language {
	display: block;
	margin: 0 auto;
	margin-top: 10vh;
	width: 60%;
	height: 10%;
	font-size: 2em;
	background-color: lightblue;
}

ul {
	list-style-type: none;
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align: left;
	padding: 0;
	left: 30%;
	font-size: 1.5em;
}

li {
	background-color: gray;
	height: 5vh;
	width: 24vw;
	padding-left: 6%;
	box-sizing: border-box;
	border: 1px solid lightgray;
	overflow: auto;
}

li:hover {
	background-color:lightblue;
}
